.blue {
  color: #8845f4;
}
.gray {
  color: gray;
}
h1 {
  font-size: 45px;
}

body {
  font-family: "Roboto", sans-serif;
}
.sec {
  display: flex;
  margin-bottom: 0;
}
.welcome {
  width: 50%;
  padding-left: 80px;
}
.img {
  width: 40%;
  padding-left: 200px;
}
.spiderman {
  width: 70%;
}
.link {
  text-decoration: none;
  border: 1px solid #8845f4;
  background-image: linear-gradient(to right, #8845f4, skyblue);
  border-radius: 15px;
  padding: 8px 28px;
  color: white;
}
.animation {
  width: 50%;
}
.y {
  width: 50%;
}
.l {
  padding-left: 300px;
}
.nnnn {
  width: 61%;
}
.blue {
  color: #9545f4;
}
.column {
  border: 1px solid white;
  background-color: #eefbff;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  padding: 28px 15px 28px 35px;
  border-radius: 20px;
}
.stack {
  padding-bottom: 20px;
}
.ex {
  padding-bottom: 25px;
}
